/* Game Container */
.game-container {
  width: 90%;
  max-width: 1200px;
  background: rgba(0, 0, 0, 0.7);
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

/* Header */
.game-header {
  text-align: center;
  margin-bottom: 20px;
}

.game-header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.game-header #game-status {
  font-size: 1.2em;
}

/* Gameboards */
.gameboards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.gameboard-container {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 5%;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.gameboard-container h2 {
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 1.5em;
}

.gameboard {
  max-width: 420px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

/* Individual Cell Styling */
.board-table {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.board-row {
  height: 10%;
}

.board-cell {
  width: 10%;
  height: 0;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: background 0.3s ease;
}

.board-cell:hover {
  background: rgba(255, 255, 255, 0.5);
}

.gameboard-1 .board-cell {
  pointer-events: none;
}

.gameboard .hit {
  background: red;
}

.gameboard .miss {
  background: lightblue;
}

.indicator {
  position: absolute;
  font-size: 0.7em;
}
.row-indicator {
  top: -2em;
  left: 0;
  width: 100%;
  text-align: center;
}
.col-indicator {
  left: -3em;
  width: 2em;
  text-align: right;
  top: 1em;
  height: 1em;
}

/* Buttons Styling */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 1em;
}

.button-container > button {
  padding: 0.5em 1em;
  border-radius: 7px;
  border: none;
  background-color: rgb(171, 222, 253);
  color: rgb(46, 49, 51);
  font-size: 0.8em;
  font-weight: 700;
  cursor: pointer;
  transition: opacity 200ms ease-in;
}

.button-container > button:hover {
  opacity: 0.85;
}

.button-container > button:active {
  background-color: #fdfdfd;
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .gameboards {
    flex-direction: column;
    align-items: center;
  }

  .gameboard-container {
    width: 100%;
  }
}
